  #calculator {
      /* width: 200px; */
      width: fit-content;
  }

  button {
      width: 45px;
      height: 45px;
      margin: 2px;
      font-size: 18px;
  }

  #display {
      width: 188px;
      height: 40px;
      font-size: 18px;
      margin-bottom: 5px;
  }